.container-exercice > *{
	margin: 0 auto;
}
#div001 {
	background: red;
	width: 320px;
	height: 320px;
	box-sizing: border-box;
	position: relative;
}

#div002{
	background: white;
	width: 60px;
	height: 70px;
	position: absolute;
	top: 60px;
	left: 130px;
}

#div003{
	background: white;
	width: 200px;
	height: 60px;
	position: absolute;
	top: 130px;
	left: 60px;
}

#div004{
	background: white;
	width: 60px;
	height: 70px;
	position: absolute;
	top: 190px;
	left: 130px;
}