/* Opsiyonel ödev dahildir! 
O-1. Satranc tahtasi uzerine oyun parcalarini (Kale, Piyon, Vezir) html kodlarini kullanarak yerlestirin. */
body {
    background-color: lightblue;
}
#chessboard  {
	border-collapse: collapse;
}
#chessboard td  {
	border: 2px solid black;
	height: 70px;
	width: 70px;
}

#chessboard tr:nth-child(odd) td:nth-child(even) {
  background: black;
}
#chessboard tr:nth-child(even) td:nth-child(odd) {
  background: black;
}
#chessboard tr:nth-child(even) td:nth-child(even) {
  background: white;
}
#chessboard tr:nth-child(odd) td:nth-child(odd) {
  background: white;
}

td {
	color: brown;
	text-align: center;
	font-size: 40px;
}
