@font-face {
  font-family: 'icon';
  src:
    url('fonts/icon.ttf?jnx9k4') format('truetype'),
    url('fonts/icon.woff?jnx9k4') format('woff'),
    url('fonts/icon.svg?jnx9k4#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-params:before {
  content: "\e918";
}
.icon-clip:before {
  content: "\e919";
}
.icon-world:before {
  content: "\e91a";
}
.icon-params1:before {
  content: "\e91b";
}
.icon-clip1:before {
  content: "\e91c";
}
.icon-world1:before {
  content: "\e91d";
}
.icon-keyboard_arrow_up:before {
  content: "\e900";
}
.icon-keyboard_arrow_right:before {
  content: "\e901";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
.icon-keyboard_arrow_down:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-star:before {
  content: "\e905";
}
.icon-settings:before {
  content: "\e906";
}
.icon-lock:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-like:before {
  content: "\e909";
}
.icon-study:before {
  content: "\e90a";
}
.icon-addthis:before {
  content: "\e90b";
  color: #ff6550;
}
.icon-facebook:before {
  content: "\e90c";
  color: #1877f2;
}
.icon-github:before {
  content: "\e90d";
}
.icon-gitlab:before {
  content: "\e90e";
  color: #fca121;
}
.icon-gmail:before {
  content: "\e90f";
  color: #d14836;
}
.icon-google:before {
  content: "\e910";
  color: #4285f4;
}
.icon-googlescholar:before {
  content: "\e911";
  color: #4885ed;
}
.icon-html5:before {
  content: "\e912";
  color: #e34f26;
}
.icon-ibm:before {
  content: "\e913";
  color: #054ada;
}
.icon-javascript:before {
  content: "\e914";
  color: #f7df1e;
}
.icon-linkedin:before {
  content: "\e915";
  color: #0077b5;
}
.icon-stackoverflow:before {
  content: "\e916";
  color: #fe7a16;
}
.icon-twitter:before {
  content: "\e917";
  color: #1da1f2;
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
