/*comment function*/
/*RESET - Eric Meyer
----------------------------------------------------------------------------*/
/*#region*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*#endregion*/

/*Make the box model border-box by default*/
html {
  box-sizing: border-box;
}


/*BASIC (DEFAULT) FORMATTING
----------------------------------------------------------------------------*/
/*As we resetted everything we reformat the basic, general formatting. */
/*
For readability: use 4 spaces to separate sections, 2 spaces for sub-sections, 1 space for single elements

html (root font-size)
body (font-family, line-height, color, )
h1,h2,h3
a
p
input, button
*/

html {
  font-size: 16px; /*to be able to use rem mesure this definition has to be in the root (html), and not body*/ /*em is related with parent, rem is related with root*/
  scroll-behavior: smooth;
}
body {
  font-size: 1rem;
  font-family:  sans-serif;
  color: #424242;
  line-height: 1.5 /*it will use em, will take from the parents*/;
}
p {
  margin-bottom: 1em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}



/*LINKS
--------------------------------------*/
a {
  text-decoration: none;
  color: #424242;
  outline: none;
  /*opacity: 0.5*/
  transition: color 0.4s ease, /*opacity 1s ease*/ ;
  font-size: 	0.875em;
}
a:hover{
  color: orangered;
  background-color:rgba(255, 157, 100, 0.1 );
  /*opacity: 1;*/
  cursor: pointer;
}
.post-content a {
  text-decoration: underline;
  padding-left: 0;
}
.post-content a:hover {
  background: #fcf5f5;
  color: #f03838;
  padding-left: 0;
}

/*FORM ELEMENTS
--------------------------------------*/
button {
  background: none;
  border: none;
  /* font-family: "Open Sans", arial, sans-serif; */
  font-weight: bold;
  text-transform: uppercase;
  color: #f03838;
  text-decoration: none;
  outline: none;
  font-size: 	0.875em;
}

button:hover{
  color: #212121;
}

input, input:focus {
  border: none;
  outline: none;
}
/*TITLES
--------------------------------------*/
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  text-transform: uppercase;
}
header > p {
  text-transform: uppercase;
  margin-bottom: 1.667em;
}
h1 {
  font-size: 3em;
}
h3 {
  padding-bottom: 1em;
}
h4, ul {
  font-weight: 600;
}
li {
  font-weight: 400;
  padding-left: 1em;
}

/*
footer > a > p {
  color: white;
  background-color: red;
}
*/


/*HELPER CLASSES
----------------------------------------------------------------------------*/
/*TYPOGRAPHY
--------------------------------------*/
.external > a,
.footer-nav a {
  background: #f03838;
  color: #fefefe;
  font-weight: bold;  
  font-size: 1em;
  padding: 0.4em;
}
.external > a:hover,
.footer a:hover {
  background-color: #121212;
}
.internal {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.750em;
}
.internal > a{
  color: #f03838;
  margin: 0.7em;
}
.internal > a:hover{
  color: #212121;
}
.footer a {
  font-size: .875rem;
}
.header-text {
  font-size: 0.875rem;
  margin: 0;
  color: #656565;
}
article p {
  text-align: justify;
}
.contact {
  text-decoration: none;
  color: #424242;
  outline: none;
  font-size: 	1em;
  display: inline;
  padding: 0 0.5em;
}
.contact:hover{
  background-color: none;
  padding: 0 0.5em;
  background: #fcf5f5;
  color: #f03838;
}
.contact-holder p{
 padding: 0;
}
/*MARGINS
--------------------------------------*/
.m-a-1 {
  margin: 1em;
}
.m-t-1 {
  margin-top: 1em;
}
.m-b-1 {
  margin-bottom: 1em;
}
.m-l-1 {
  margin-left: 1em;
}
.m-l-0-3 {
  margin-left: .3em;
}
.m-r-1 {
  margin-right: 1em;
}


/*PADDINGS
--------------------------------------*/
.l-pad  /*link paddings*/{
  padding-top: 0.2em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.p-t-0-2 {
  padding-top: 0.2em;
}
.p-b-0-3 {
  padding-bottom: 0.3em;
}
.p-l-0-6 {
  padding-left: 0.6em;
}
.p-r-0-6 {
  padding-right: 0.6em;
}
.p-l-1 {
  padding-left: 1em;
}
.p-r-1 {
  padding-right: 1em;
}


/*FLEX
--------------------------------------*/


/*BACKGROUNDS
--------------------------------------*/


/*MISC
--------------------------------------*/
.sep { /*seperator*/
  display: inline-block;
  margin: 0 0.5rem;
}



/*LAYOUT
----------------------------------------------------------------------------*/
/*How can i justify header and main at the center? */
.page {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*COMMON*/
article a,
footer {
  padding-left: 2%;
  padding-right: 2%;
}

header {
  border-bottom: 0.375em #303030 solid;
  padding: 2.5em 0 1.250em;
  margin-bottom: 1.250em;
}

header h2 {
  text-transform: uppercase;
}


/*ARTICLES*/
article {
  border-bottom: dotted #212121 0.07em;
  font-size:  1.286em;
}

article a {
  display: flex;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  transition: padding .3s ease, background .3s ease, color .3s ease;
}

article a:hover {
  padding-left: 2.5%;
  background: #fcf5f5;
  color: #f03838;
}

/*Header
--------------------------------------*/
header {
  text-align: center;
}

.page-title {
  margin: 0.3em 0;
}

.header-text p {
  text-align: center;
  color: #AEADAD;
  font-weight: 600;
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.8em;
  font-size: 0.875rem;
}
.header-text a {
  color: #AEADAD;
  font-weight: 700;
  font-size: 1em;
}
.header-text a:hover {
  color: #f03838;
}

/*Footer
--------------------------------------*/
footer,
.footer-nav {
  text-align: center;
  background: #303030;
  color: #656565;
  font-weight: 600;
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.8em;
  padding: 5em 0 5em;
  margin-top: 6em;
}

.footer-text {
  font-size: 0.875rem;
  margin: 0;
}

.footer-text a {
  color: #656565;
  font-weight: 700;
}
.footer-text a:hover {
  color: #FEFEFE;
}
.footer-nav {
  margin: 0 0 2.188em 0;
  padding: 0;
}
.footer p {
  font-weight: 400;
  margin: 0;
  line-height: 1.8em;
}

/* MENU
--------------------------------------*/



/* NAV TRIGGERS FOR MOBILE
--------------------------------------*/
#nav-triggers {
  display: none;
}

body.menu-open {
  overflow: auto;
}

/*MEDIA QUERIES
----------------------------------------------------------------------------*/
/*  <!--for responsive: make small element block to display it in another line-->
    <!--for responsive: make span invisible. display:none--> */

@media (max-width: 800px) {
 article a {
    display: block;
  }
  /* .art-date {    This is not necessary. h tag is already a block element.
    display: block;
  } */
  .sep {
    display: none;
  }
  body {
    margin: 0 2%;
  }

  /* Hide the nav */
  .external {
    display: none;
  }

  /* Nav triggers */
  #nav-triggers {
    display: block;
    background-color: yellow;
  }
  #nav-triggers,
  #nav-triggers a {
    width: 44px;
    height: 44px;
    overflow: hidden;
  }
  #nav-triggers a {
    display: flex;
    justify-content: center;
  }
  #nav-triggers img {
    width: 60%;
  }
  /* MOBILE NAV */
  .external,
  .internal {
    color: #fc0;
  }
  .external a,
  .internal a{
    margin: 0em;
    padding: 0em;
    color: green;
    display: block;
    background-color: tomato;

  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  header{
    background-color: violet;
  }
}





@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
}

/* DARK THEME
------------------------------------------------------------------------- */
.dark {
  background-color: #121212;
  color: #f3ffbd; 
}

/*LINKS
--------------------------------------*/
.dark a {
  color: #f3ffbd;
}

.dark a:hover{
  color: #00adad;
  background-color:rgba(255, 157, 100, 0.1 );
}

.dark .post-content a:hover {
  background: #fcf5f5;
  color: #00adad;
}
/*FORM ELEMENTS
--------------------------------------*/
.dark button {
  background: none;
  border: none;
  /* font-family: "Open Sans", arial, sans-serif; */
  font-weight: bold;
  text-transform: uppercase;
  color: #00adad;
  text-decoration: none;
  outline: none;
}

.dark button:hover{
  color: #f3ffbd;
  background-color:rgba(255, 157, 100, 0.1 );

}

/*HELPER CLASSES
----------------------------------------------------------------------------*/
/*TYPOGRAPHY
--------------------------------------*/
.dark .external > a,
.dark .footer-nav a {
  background: #00adad;
  color: #f3ffbd;
}
.dark .external > a:hover,
.dark .footer a:hover {
  background-color:rgba(255, 157, 100, 0.1 );
}
.dark .internal > a{
  color: #00adad;
}
.dark .internal > a:hover{
  color: #f3ffbd;
}
.dark .header-text {
  color: #656565;
}
.dark .contact {
  color: #424242;
}
.dark .contact:hover{
  background-color: none;
  background: #f3ffbd;
  color: #00adad;
}

.dark header {
  border-bottom: 0.375em #303030 solid;
}

/*ARTICLES*/

.dark article a {
  transition: padding .3s ease, background .3s ease, color .3s ease;
}

.dark > article a:hover {
  padding-left: 2.5%;
  background: #f3ffbd;
  color: #00adad;
}

/*Header
--------------------------------------*/

.dark .header-text p {
  color: #AEADAD;
}
.dark .header-text a {
  color: #AEADAD;
  font-weight: 700;
  font-size: 1em;
}
.dark.header-text a:hover {
  color: #00adad;
}

/*Footer
--------------------------------------*/
.dark footer,
.dark .footer-nav {
  text-align: center;
  background: rgb(4, 0, 3);
  color: #656565;
}

.dark .footer-text a {
  color: #656565;
  font-weight: 700;
}
.dark .footer-text a:hover {
  color: #f3ffbd;
}

/* COLOR ALTERNATIVES */
/* 03dac5
04c9b5
f3ffbd */